<nav class="navbar">
  <div class="navbar-left">
    <div class="logo">
      <img src="assets/logo.webp" alt="Logo" width="200" />
    </div>
    <div class="dropdown" *ngFor="let dropdown of dropdowns">
      <button class="dropbtn">
        <i [class]="dropdown.icon"></i> {{ dropdown.name }}
      </button>
      <div class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </div>
  </div>
  <div class="navbar-right">
    <a href="#"><i class="fa-regular fa-message"></i></a>
    <a href="#"><i class="fa-regular fa-bell"></i></a>
    <a
      href="#"
      class="profilePic"
      style="background-image: url('assets/pic.jpg')"
    ></a>
  </div>
</nav>
